doctype html
html 
  head 
    style 
      include style.css 
  body 
    div 
      | Hello User 
      br 
      | Sample text
      p This is p
    div 
      block content
    .footer 
      | Best regards