doctype html
html 
  head 
  body 
    div 
      h2 Greetings 👋
      br 
      | You've successfully registered on my website!
      | To activate your email, please click on this link - #{link}
      br
      br
      h4 NB! Do not reply to this email.