@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

.overlay {
  background: url('assets/backgrounds/bg.jpg');
  background-size: cover;
}

button {
  &:disabled {
    cursor: url('./assets/svgs/disabled-sign.svg'), auto;
  }
}

// removes autofill default color
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
